.txt{
    width: 200px;
    height: 900px;
    overflow: auto; /**Estou informando que caso o texto passe do espaço que foi definidido, pode gerar uma barra de rolagem**/
    background-color: #ddd;
    padding: 20px;
    border: 2px solid red;
}

.scroll-button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: blue;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    cursor: pointer;
    display: none;
}